<div class="navbar sticky inset-0 z-[100] bg-base-200">
  @if (this.alertMessageService.alertMessage()) {
    <app-alert-message />
  }
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" routerLink="/home">BlogIt</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      @if (isCurrentRouteCreate) {
        <li><a routerLink="/home">Home</a></li>
      } @else {
        <li><a routerLink="/create">Create</a></li>
      }
      <li>
        <details>
          <summary>Account</summary>
          <ul class="rounded-t-none bg-base-200 p-2">
            @if (isLoggedOut) {
              <li><a routerLink="/login">Log in</a></li>
              <li><a routerLink="/signup">Sign up</a></li>
            } @else {
              <li><button (click)="logOut()">Log out</button></li>
            }
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
