<div class="navbar bg-base-200">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" routerLink="/">BlogIt</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a>Link</a></li>
      <li>
        <details>
          <summary>Account</summary>
          <ul class="p-2 bg-base-200 rounded-t-none">
            <li><a routerLink="/login">Log in</a></li>
            <li><a routerLink="/signup">Sign up</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
