<div class="navbar relative bg-base-200">
  @if (this.errorMessageService.alertText()) {
    <app-error-message />
  }
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" routerLink="/">BlogIt</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      @if (isCurrentRouteCreate) {
        <li><a routerLink="/">Home</a></li>
      } @else {
        <li><a routerLink="/create">Create</a></li>
      }
      <li>
        <details>
          <summary>Account</summary>
          <ul class="rounded-t-none bg-base-200 p-2">
            @if (isLoggedOut) {
              <li><a routerLink="/login">Log in</a></li>
              <li><a routerLink="/signup">Sign up</a></li>
            } @else {
              <li><button>Settings</button></li>
              <li><button (click)="logOut()">Log out</button></li>
            }
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
