<div
  class="error error-center error-top absolute left-1/2 top-1/2 z-50 -translate-x-1/2 -translate-y-1/2"
>
  <div
    [ngClass]="{
      'alert flex w-[calc(100vw-1rem)] items-center md:w-auto': true,
      'alert-success': alertType === 'success',
      'alert-error': alertType === 'error'
    }"
  >
    @if (alertType === "success") {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current text-white"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    } @else {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current text-white"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    }
    <span class="font-semibold text-white">{{ alertText }}</span>
  </div>
</div>
