<div class="card mx-auto w-full max-w-[600px] rounded-md bg-base-300 shadow-xl">
  <figure>
    <img
      class="size-full"
      src="{{ this.baseUrl }}/{{ blogContent.imageFile }}"
      alt="{{ blogContent.title }}"
    />
  </figure>
  <div class="card-body p-4">
    <h2 class="uppercase">{{ blogContent.category }}</h2>
    <h2 class="card-title">{{ blogContent.title }}</h2>
    <p class="line-clamp-3">{{ blogContent.content }}</p>
    <div class="card-actions my-2 items-center justify-between">
      <div class="flex items-center gap-4">
        <div class="flex flex-col items-center">
          <ng-icon class="text-lg md:text-xl" name="featherHeart" />
          <span>{{ "1.3K" }}</span>
        </div>
        <div class="flex flex-col items-center">
          <ng-icon class="text-lg md:text-xl" name="featherEye" />
          <span>{{ "3.7K" }}</span>
        </div>
        <div class="flex flex-col items-center">
          <ng-icon class="text-lg md:text-xl" name="featherMessageCircle" />
          <span>{{ "98" }}</span>
        </div>
      </div>
      <button class="btn btn-primary text-white">Read more</button>
    </div>
  </div>
</div>
