<section>
  @if (isLoading()) {
    <div
      class="flex h-[calc(100vh-4.25rem)] w-full items-center justify-center"
    >
      <span class="loading loading-ring w-full max-w-[300px]"></span>
    </div>
  } @else {
    @if (currentBlog()?.userEmail === currentUserEmail) {
      <button
        class="btn fixed right-[0.5rem] top-[4.5rem] z-[100] size-14"
        (click)="deleteBlog()"
      >
        <ng-icon name="featherTrash2" class="text-xl" />
      </button>
    }
    <div
      class="hero mx-auto h-[calc(100vh-4.25rem)] w-auto"
      style="background-image: url('{{ imageUrl() }}')"
    >
      <div class="hero-overlay bg-opacity-65"></div>
      <div class="hero-content flex flex-col">
        <span class="mr-auto uppercase">{{ currentBlog()?.category }}</span>
        <h1 class="text-5xl font-bold text-white">
          {{ currentBlog()?.title }}
        </h1>
        <span class="mr-auto">by {{ currentBlog()?.userEmail }}</span>
        <div class="mr-auto flex items-center gap-4">
          <div class="flex flex-col items-center">
            <ng-icon class="text-lg md:text-xl" name="featherEye" />
            <span>{{ currentBlog()?.views }}</span>
          </div>
          <div class="flex flex-col items-center">
            <ng-icon class="text-lg md:text-xl" name="featherHeart" />
            <span>{{ currentBlog()?.likes?.length }}</span>
          </div>
          <div class="flex flex-col items-center">
            <ng-icon class="text-lg md:text-xl" name="featherMessageCircle" />
            <span>{{ currentBlog()?.comments?.length }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto flex min-h-screen max-w-[800px] flex-col gap-12 py-4">
      <p class="px-8 text-lg md:text-xl">
        {{ currentBlog()?.content }}
      </p>
      <div class="px-8">
        <h3 class="card-title mb-2 uppercase">Like and comment</h3>
        <div class="flex w-full items-center gap-1 md:gap-2">
          <button
            (click)="updateLikes()"
            class="btn border-transparent bg-transparent p-0 outline-none hover:border-transparent hover:bg-transparent"
          >
            <ng-icon
              [name]="liked() ? 'bootstrapHeartFill' : 'bootstrapHeart'"
              [ngClass]="{
                'text-4xl md:text-5xl': true,
                'text-red-500': liked()
              }"
            />
          </button>
          <div class="relative grow">
            <input
              type="text"
              placeholder="Add a comment"
              class="input input-bordered w-full"
              [formControl]="commentInput"
            />
            <button
              (click)="addComment()"
              class="btn btn-primary absolute right-0 top-0 z-10 text-white"
            >
              <ng-icon name="featherSend" />
            </button>
          </div>
        </div>
        <div class="divider divider-start uppercase">Comments</div>
        <div class="my-4 flex max-h-[200px] flex-col gap-2 overflow-y-auto">
          @for (cmt of blogComments(); track $index) {
            <div
              class="input input-bordered relative flex h-full items-center justify-between py-2"
            >
              <div>
                <div class="flex items-center gap-2">
                  <div
                    class="grid size-8 place-content-center rounded-full bg-accent"
                  >
                    <ng-icon name="featherUser" class="text-xl text-white" />
                  </div>
                  <span class="card-title">{{ cmt.userEmail }}</span>
                </div>
                <p>
                  {{ cmt.comment }}
                </p>
              </div>
              @if (cmt.userEmail === currentUserEmail) {
                <button class="btn" (click)="removeComment(cmt.comment)">
                  <ng-icon name="featherTrash2" />
                </button>
              }
            </div>
          }
        </div>
      </div>
    </div>
  }
</section>
